@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

*{ 
    margin: 0;
padding: 0;
}

body{
background-color: rgb(250, 228, 215);
color: rgb(230, 108, 60);
font-family: "Chelsea Market", system-ui;
}
.cabecalho{
    text-align: center;
    background-color: rgb(247, 253, 163);
    padding: 30px;
}

main{
    background-color: brown;
    color: rgb(244, 170, 60);
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}